body {
    display: flex;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url(/Norse-Bold.otf);
}

#left-content {
    background-image: url("./plant-bg.jpeg");
    background-color: #cccccc;
    height: 100vh;
    position: relative;
    flex:1
}

.logo-bar {
    /* opacity: .3; */
    background-color: rgba(0, 0, 0, 0.3);
    height: 20%;
    position: relative;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Norse-Bold', serif;
}

.logo-bar img {
    opacity: 1;
    height: 100%;
}

.logo-bar p {
    color: white;
    font-size: 72px;
}

#credit {
    position: absolute;
    top: 95%;
    color: white;
    align-self: center;
}

#right-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
    flex: 2;
}

header {
    background-color: whitesmoke;
    flex: 1;
}
main {
    background-color: white;
    flex: 1;
}
footer {
    background-color: whitesmoke;
    flex: 1;
}

form{
    display: flex;;
}

button {
    background-color: #596D48;
    color: white;
    margin-top: 5%;
    font-size: 1.5rem;
    border-radius: 3px;
    box-shadow: lightslategray;
}

input, label {
    display: block;
}

input {
    border-radius: 5px;
    border-color: #E5E7EB;
    height: 20px;
}

input:focus {
    background-color: lightskyblue;
    border-color: blue;
    box-shadow: 2px 2px 2px lightskyblue;
}

.hidden {
    display: none;
}

.left-form>div, .right-form>div {
    margin: 20px 20px 20px 0;
}

.right-form>div {
    margin-left: 30px;
}

header>*, footer>*, main>* {
    margin-left: 5%;
}

header p:nth-child(1){
    margin-top: 12%;
}
header p {
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 15%;
}

main>h2{
    margin-bottom: 0px;
}

main>p{
    margin-top: 0px;
    color: red;
    display: none;
}

.invalid {
    border-color: red;
}
